$light-gray: #D8D8D8;
$gray: #9B9B9B;
$dark-gray: #4A4A4A;
$shadow-gray: #333;

$orange: #F5A623;
$shadow-orange: #845913;

$light-green: #7ED321;
$green: #599C0F;
$shadow-green: #417505;

$red: #D0021B;
$shadow-red: #9C0013;
